# Port API credentials.
# Get these from app.port.io -> "..." menu (top right) -> Credentials.
PORT_CLIENT_ID=
PORT_CLIENT_SECRET=

# EU accounts (app.port.io)  -> https://api.port.io/v1   <- default
# US accounts (app.us.port.io) -> https://api.us.port.io/v1
PORT_API_URL=https://api.port.io/v1

# Local web server port (not related to Port.io, just an unfortunate name clash)
PORT=3000